<script>
$(document).ready(function() {
		$.ajax({
			url: "https://api.themoviedb.org/3/movie/popular?api_key=950598afe38cbe6f39485b57233eaad3",
			method: "GET",
			headers: {},
			data: "{}",
			success: function(data) {
				console.log(data);
				var result = data.results.map(value => "<div class='col-md-6'>" + "<div class='thumbnail'>" + "<h1 class='text-center'>"+ value.original_title +"</h1>" + "<p class='text-center'>" +value.overview+ "</p>" + "<img src=https://image.tmdb.org/t/p/w500"+ value.poster_path +">" + "<button class='add_review btn btn-md btn-primary center'>" + "Add a review" + "</button>" + "</div" +"</div")
				$('.movies').append(result);

			}
		})



});

</script>
<div class="container">
	<div class="row">
		<div class="movies">

		</div>
			
		</div>
	</div>
</div>